@page
@model CarOwnershipWebApp.Areas.Identity.Pages.Account.CarDetailsModel
@{
}

<h1>@ViewData["Title"]</h1>

<div class="col-md-4">
    <div>
        Vin: @ViewData["Vin"]
    </div>
    <div>
        Registration: @ViewData["Registration"]
    </div>
    <div>
        License: @ViewData["License"]
    </div>
    <div>
        Owners: @ViewData["Owners"]
    </div>
    <div>
        Date: @ViewData["Date"]
    </div>
</div>