@page
@model CarOwnershipWebApp.Areas.Identity.Pages.Account.ChangedOwnersModel
@{

}

<h1>@ViewData["Title"]</h1>
<h2>Car already saved. Is it changing owners?</h2>

<div class="col-md-4">
    <section>
        <form method="post">
            <div class="form-group">
                <input type="hidden" asp-for="Input.Registration" class="form-control" value="@Model.Registration" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Input.LicensePlate" class="form-control" value="@Model.LicensePlate" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Input.Date" class="form-control" value="@Model.Date" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Input.Owners" class="form-control" value="@Model.Owners" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Input.Vin" class="form-control" value="@Model.Vin" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Input.VehicleName" class="form-control" value="@Model.VehicleName" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
        </form>
    </section>

    <button class="btn btn-danger" onclick="onCancel()">Cancel</button>
</div>

<script>
    function onCancel() {
        window.location = "/Identity/Account/GetCarData";
    }
</script>